@model TrashCollector.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageEmpl.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>
        @*<dd>
            @Html.CheckBoxFor(customer => customer.)
        </dd>
        <dd>
            @Html.DisplayFor(customer => customer.)
        </dd>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
